<!DOCTYPE html>

<html>

<head>
    <title>Attendance Management System</title>

<lin rel ='stylesheet' href="/static/style.css"> 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
<!--<link rel="stylesheet" href="/static/style.css" type="text/css"> -->
</head>
  
<!-- Wrap all page content here -->
<div id="wrap">
  
  <!-- Fixed navbar -->
  <div class="navbar navbar-default" data-spy="affix" data-offset-top="60" data-offset-bottom="70" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Student Record</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="home">Home</a></li>
          <li><a href="/Take_Images"><input type="button" value="Take_Images"></a></li>
          <li><a href="/upload"><input type="button" value="upload_image"></a></li>
          <li><a href="/stud"><input type="button" value="add"></a></li>
          <li><a href="/admin">Admin</a></li>
          <li><a href="/rec">view</a></li>
          <li><a href="/sef">search</a></li>
	  <li><a href="/del">delete</a></li>
          <li><a href="/logout">logout</a></li>
          
          
           

            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  
  
<script text="javascript">
document.body.style.backgroundImage="url('static/index1.jpeg')";
</script>





  


    
<div align = 'center'>





</div>
</div>
 
</div>
  </div><!-- /.container-








<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 

</body>
</html>





